<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" />
  <title>Szkoła - Baza danych</title>
</head>
<body>
  
  <main>
    <header>
      <a href="{{url_for('index')}}"> Strona główna </a>
    </header>

    <nav>
      <a href="{{url_for('raporty')}}">Raporty</a>
      <a href="{{url_for('dodawanie')}}">Dodawanie do bazy</a>
      <a href="{{url_for('edytowanie')}}">Edytowanie danych</a>
      <a href="{{url_for('usuwanie')}}">Usuwanie z bazy</a>
    </nav>

    <div>
      {% block content %}
      {% endblock %}
    </div>

  </main>

</body>
</html>