{% extends 'plan_lekcji.html' %}

{% block plan %}

<table>

  <thead>

    <tr>
      <th>Godzina</th>
      <th>Poniedziałek</th>
      <th>Wtorek</th>
      <th>Środa</th>
      <th>Czwartek</th>
      <th>Piątek</th>
    </tr>

  </thead>

  <tbody>

    {% for i in range(1, 9): %}
    <tr>

      <td> {{ i }} </td>
      <td> {{ timetable["Poniedziałek"][i-1][1] }} </td>
      <td> {{ timetable["Wtorek"][i-1][1] }} </td>
      <td> {{ timetable["Środa"][i-1][1] }} </td>
      <td> {{ timetable["Czwartek"][i-1][1] }} </td>
      <td> {{ timetable["Piątek"][i-1][1] }} </td>

    </tr>

    {% endfor %}

  </tbody>

</table>

<!-- {% for row in timetable %}



{% endfor %} -->

{% endblock %}