<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Baza Danych Szkoła</title>
</head>
<body>
<table>
  <thead>
    {% for column_name in column_names %}
      <td>{{ column_name }}</td>
    {% endfor %}
  </thead>
  <tbody>
    {% for row in data: %}
      <tr>
        {% for value in row: %}
        <td>{{ value }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

<a href="../"> powrót </a>
</body>